script#Component(type="text/html")
  div.container
    p.lead <%= description %>
    article <%= doc %>

script#AddComponent(type="text/html")
  div.container
    p.lead Give a name for the component you want to create. NoFlo components are usually named with verbs and CamelCased
    form.span6.text-center
      div.input-prepend.input-append
        span.add-on <%= project %>/
        input#name(type="text", name="name", autofocus)
        button#save.btn Create

script#EditComponent(type="text/html")
  div.container
    div.row
      div.span6
        h3 Implementation
        textarea.code <%= code %>
      div.span6
        h3 Tests
        textarea.test <%= test %>
