script#Graph(type="text/html")
  div.navbar.navbar-fixed-top
    div.navbar-inner
        a.brand(href="#")
          img(src="/img/noflo.png", alt="NoFlo")
        ul.nav
          li.dropdown
            a.dropdown-toggle(data-toggle="dropdown") <%= name %>
            ul.dropdown-menu.graphs
              li Foo
        ul.nav.pull-right
          a#save.btn Save
  div.editor
script#Node(type="text/html")
  h1 <%= name %>
  p Component: <%= component %>
  div.btn-toolbar
    button.btn Remove node
    button.btn Edit component
script#GraphPullDown(type="text/html")
  li
    a
      <%= name %>
script#GraphNode(type="text/html")
  h4 <%= id %>
  p.component <%= component %>
script#NetworkPopover(type="text/html")
  div
    button.addnode.btn Node
script#AddNodeComponent(type="text/html")
  div.thumbnail
    h3 <%= name %>
    p <%= description %>
    button.use.btn Use
