script#Project(type="text/html")
  p.lead <%= description %>
  div.page-header
    h1
      span Graphs
      small  <%= graphCount %> graphs containing <%= nodeCount %> nodes
  ul.thumbnails.graphs
  div.page-header
    h1
      span Components
      small  <%= componentCount %> components from project, <%= externalComponents %> from external libraries
  ul.thumbnails.components
script#GraphListItem(type="text/html")
  div.thumbnail
    h3 <%= name %>
    canvas(width="200", height="200")
script#ComponentListItem(type="text/html")
  div.thumbnail
    h3 <%= name %>
    p <%= description %>
    ul.inports.pull-left <% _.each(inPorts, function(port) { %> <li><%= port %></li> <% }); %>
    ul.outports.pull-right <% _.each(outPorts, function(port) { %> <li><%= port %></li> <% }); %>
    span.clearfix
