doctype 5
html(lang="en")
  head
    title NoFlo UI
    != css('vendor/bootstrap')
    != css('vendor/bootstrap-responsive')
    != css('noflo')
    != js('noflo')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- script(src="http://debug.phonegap.com/target/target-script-min.js#noflo")
    include GraphManager
    include GraphEditor
  body
    div#noflo
    div.panel.well
