@highlight: #33B5E5;
@background: #000000;

div.graph {
  position: absolute;
  top: 60px;
  min-width: 100%;
  min-height: 600px;
  font-family: 'Droid Sans', sans-serif;
}

div.process {
  position: absolute;
  width: 120px;
  height: 60px;
  border: 2px solid @highlight;
  box-shadow: 2px 2px 19px @highlight;
  border-radius: 6px;
  z-index: 100;
  text-align: center;
  padding: 6px;
  font-color: #ffffff;
}

div.subgraph {
  border: 5px double @highlight;
  width: 114px;
  height: 54px;
}

div.initial {
  position: absolute;
  z-index: 100;
  width: 120px;
  height: 20px;
  overflow: hidden;
  font-size: 12px;
  padding: 2px;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 2px 2px 19px @highlight;
  border-radius: 3px;
}

._jsPlumb_endpoint {
  z-index: 120;
}

._jsPlumb_overlay {
  text-transform: uppercase;
  font-size: 12px;
}
